<ion-card>
  <ion-card-content>
    <img src="../../assets/icon/weathericons/03d.svg" alt="">
    <p>
      <span>10°</span>
      <span ion-text color="darklight">5°</span>
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <img src="../../assets/icon/weathericons/03d.svg" alt="">
    <p>
      <span>10°</span>
      <span ion-text color="darklight">5°</span>
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <img src="../../assets/icon/weathericons/03d.svg" alt="">
    <p>
      <span>10°</span>
      <span ion-text color="darklight">5°</span>
    </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <img src="../../assets/icon/weathericons/03d.svg" alt="">
    <p>
      <span>10°</span>
      <span ion-text color="darklight">5°</span>
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <img src="../../assets/icon/weathericons/03d.svg" alt="">
    <p>
      <span>10°</span>
      <span ion-text color="darklight">5°</span>
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <img src="../../assets/icon/weathericons/03d.svg" alt="">
    <p>
      <span>10°</span>
      <span ion-text color="darklight">5°</span>
    </p>
  </ion-card-content>
</ion-card>

